*{
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 26px;
  text-align: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.split {
  width:100%;
  height:100%;
  padding: 30px;
  border: 1px solid;
}

.a {
  background: white;
  background-attachment: fixed;
}

.b {
  background: white;
  background-attachment: fixed;
}

.gutter {
  cursor: e-resize;
  height: 649px;
  background: grey;
}

select {
  color: black;
  font-size: 20px;
}

.orangeText{ background-color:orange; }

.blueText{ background-color:#34e8eb; }

.redText{ background-color:red; }

.yellowText{ background-color:yellow; }

.scrolling-box-a{
  background-color: #2e9b40;
  display: block;
  width: 100%;
  height: 615px;
  overflow-y: scroll;
  text-align: center;
}

.scrolling-box-b{
  background-color: #2e9b40;
  display: block;
  width: 100%;
  height: 647px;
  overflow-y: scroll;
  text-align: center;
}

.container {
  max-width: 820px;
  margin: 0px auto;
}

.comment {
  float: left;
  width: 100%;
  height: auto;
}

.commenter {
  float: left;
}

.commenter img {
  width: 35px;
  height: 35px;
}

.comment-text-area {
  float: left;
  width: 100%;
  height: auto;
}

.textinput {
  float: center;
  width: 95%;
  min-height: 20px;
  outline: none;
  resize: none;
  border: 1px solid grey;
  font-size: 20px;
}

.textinput2 {
  float: center;
  width: 95%;
  min-height: 80px;
  outline: none;
  resize: none;
  border: 1px solid grey;
  font-size: 20px;
}

.form-dropdown {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.demo{
  background-color:red;
  color: yellow;
  font-size:20px;
  text-align:center;
}

.valign {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.responsive {
  width: 100%;
  height: auto;}

.child {
  width: 90%;
  padding: 1%;
  border: 4px solid black;
  margin: .5em auto;}

  
  .col-75 {
    float: center;
    width: 100%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-75 {
      width: 100%;
    }
  }

  .btn {
    border: 2px solid red;
    background-color:white;
    color: blue;
    padding: 4px 28px;
    font-size: 18px;
    cursor: pointer;
  }

  .success {
    border-color: white;
    color: white;
    background-color: red;
  }
  
  .success:hover {
    background-color: yellow;
    color: black;
  }
