*{
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 26px;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.split {
  width:100%;
  height:100%;
  padding: 30px;
  border: 1px solid;
}
.a {
  background: white;
  background-attachment: fixed;
}

.b {
  background: white;
  background-attachment: fixed;
}

.gutter {
  cursor: e-resize;
  height: 100%;
  background: grey;
}

.navbar {
    border: 1px solid black;
    background-color: lightblue;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.body {
  text-align:center;
}

select {
  color: #be4040;
  font-size: 40px;
}
